
.icon-search:before { content: '\e800'; } /* '' */
.icon-up-circled:before { content: '\e801'; } /* '' */
.icon-logout:before { content: '\e802'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */